header {
  text-align: center;
  background: url('http://entergeek.tech/nep-bg.jpg');
  background-size: cover;
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 70px;
}

img {
      width: 200px;
      height: 200px;
      margin: 40px 0px 0px 0px;
      border-radius: 106px;
      border: 6px solid white;
    }

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article {
  max-width: 500px;
  padding: 5px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }

  li {
    padding: 5px;
    display: block;
  }
}
